---
import Layout from "../layouts/Layout.astro";
import DynSections from "../components/dynSections/DynSections";
import styles from "./styles/index.module.css";

import { getTopAnime } from "../services/API";
---

<Layout>
	<!-- Main Content -->
	<main class={styles["main-content"]}>
		<DynSections
			client:only
			sections={{
				title: "Anime Destacado",
				useSwiper: true,
				functionName: "getTopAnime",
			}}
		/>

		<section class={styles.carousel}>
			<!-- Carrusel de anime destacado -->
		</section>
		<section class="latest-episodes">
			<h2>Últimos Episodios</h2>
			<!-- Listado de episodios -->
		</section>
		<section class="recommended">
			<h2>Recomendados para ti</h2>
			<!-- Listado de recomendados -->
		</section>
		<section class="popular-series">
			<h2>Series Populares</h2>
			<!-- Listado de series populares -->
		</section>
	</main>
</Layout>
