<footer>
	<div class="quick-links">
		<a href="#">Términos y condiciones</a>
		<a href="#">Política de privacidad</a>
		<a href="#">Contacto</a>
	</div>
	<div class="social-media">
		<a href="#">Facebook</a>
		<a href="#">Twitter</a>
		<a href="#">Instagram</a>
	</div>
	<div class="copyright">
		&copy; 2023 AnimeWorld. Todos los derechos reservados.
	</div>
</footer>
